div {
  &.DayPickerContainer {
    text-align: center;
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;

    & p {
      margin: 0 0 3px 0;
      padding: 0px;
      display: block;
      font-weight: bold;
      font-size: 20px;
    }

    & input {
      text-align: center;
      padding: 8px 15px 8px 15px;
      border: none;
      height: 40px;
      font-size: 25px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      border: 1px solid #bebebe;
      padding: 7px;
      margin: 0px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      outline: none;
      padding: 8px 15px 8px 15px;

      &:focus {
        -moz-box-shadow: 0 0 8px #88d5e9;
        -webkit-box-shadow: 0 0 8px #88d5e9;
        box-shadow: 0 0 8px #88d5e9;
        border: 1px solid #88d5e9;
      }

      &:hover {
        box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
      }
    }
  }
}
